body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.title{
  color: red;
}

.logo{
  align-self: center;
  margin-top: 166px;
}

.background{
  background: #b3d4fc;
  width: 100vw;
  height: 100vh;
}
