.rootView{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #b3d4fc;
}

.btn{
  width: 70vw;
  height: 12vw;
  margin-top: 5vw;
  text-align: center;
  line-height: 12vw;
}

.btn2{
  width: 70vw;
  height: 12vw;
  margin-top: 5vw;
  text-align: center;
  background-color: darkgrey;
  line-height: 12vw;
}

.btn3{
  width: 70vw;
  height: 12vw;
  margin-top: 5vw;
  text-align: center;
  background-color: red;
  line-height: 12vw;
}


